<% provide(:title, 'All users') %>
<h1>All users</h1>
<ul class="users">
  <%= render @users %>
  
  
  <!--
  こっからコメント
  <% @users.each do | user | %>
    <%= render user %>
    render 'user', user: user でも良い
  <% end %>
  -->
   
</ul>

 <%= will_paginate %>