version: '3'

services:
  app:
    build:
      context: .
      args:
        VARIANT: '3.2-bullseye'
        BUNDLER_VERSION: '2.4.10'
        RAILS_VERSIONS: '7.0.4'
        NODE_VERSION: '18'
    environment:
      BINDING: 0.0.0.0
    volumes:
      - ..:/home/vscode/environment:cached
      - bundle-volume:/usr/local/bundle
    tty: true
    
volumes:
  bundle-volume:
